[submodule "datalogcompiler"]
	path = submodules/raco
	url = https://github.com/uwescience/datalogcompiler.git
	branch = master
[submodule "myria-python"]
	path = submodules/myria-python
	url = https://github.com/uwescience/myria-python.git
	branch = master
[submodule "requests"]
	path = submodules/requests
	url = https://github.com/kennethreitz/requests/
[submodule "submodules/sqlalchemy"]
	path = submodules/sqlalchemy
	url = https://github.com/zzzeek/sqlalchemy.git
[submodule "submodules/dateutil"]
	path = submodules/dateutil
	url = https://github.com/dateutil/dateutil.git
[submodule "submodules/six"]
	path = submodules/six
	url = https://github.com/kelp404/six.git
[submodule "submodules/SciDB-Py"]
	path = submodules/SciDB-Py
	url = https://github.com/Paradigm4/SciDB-Py.git
