[submodule "datalogcompiler"]
	path = datalogcompiler
	url = git@github.com:uwescience/datalogcompiler.git
	branch = master
[submodule "myria-python"]
	path = myria-python
	url = git@github.com:uwescience/myria-python.git
	branch = master
[submodule "requests"]
	path = requests
	url = https://github.com/kennethreitz/requests.git
