.navbar-inverse .navbar-brand {
	color: #ffffff;
}

.example-label {
	font-size: normal;
	font-style: italic;
	color: #000;
}

.example {
	font-size: 11px;
	font-family: "Monaco", monospace;
	cursor: pointer;
}

.modal-header input[type=range] {
	width: 250px;
	height: 10px;
	margin: 0 30px 0 5px;
}

.my-fluid-container {
	width: 100%;
}
