.navbar-inverse .navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-inverse {
	margin-bottom: 10px;
}

.modal-header input[type=range] {
	width: 250px;
	height: 10px;
	margin: 0 30px 0 5px;
}

.my-fluid-container {
	width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .credit {
	margin: 20px 0;
}

.spacer {
	padding-top: 10px;
}

input[type=range].zoom-range {
	display: inline;
}

#editor-tabs li a {
	padding: 8px 3px;
}

.dataset-search {
  width: 100%;
}

.triple-input .form-control {
    width: 33.33%;
    border-right-width: 0px;
}
.triple-input .form-control:focus {
    border-right-width: 1px;
}

.back-to-top {
    position: fixed;
    bottom: 8px;
    right: 8px;
    padding: 8px 12px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
}

#svg-modal-body {
	padding: 0;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-hscrollbar {
  display: none !important;
}

.select2-result-label strong {
  text-decoration: underline;
}

#examples-list .list-group-item {
  padding-top: 0;
  padding-bottom: 0;
}

#examples-list pre {
  font-size: 10px;
}

#examples-list {
  overflow: auto;
}

#myria_svg {
  width: 100%;
}

.tablesorter-header[aria-disabled=false] {
  cursor: pointer;
}

.query-panel-heading .form-group {
  margin-bottom: 0;
}

.query-panel-heading .panel-title {
  margin-top: 7px;
}