.top-buffer { margin-top:40px; }

/* For ideal-actual graph */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.lineActual {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.lineIdeal {
  fill: none;
  stroke: orange;
  stroke-width: 1.5px;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
/**/

/*rl bar chart*/
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
/**/


/* pi error */
.lineCurrentError {
  fill: none;
  stroke: purple;
  stroke-width: 1.5px;
}

.lineErrorSum {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}


.line4 {
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
}

.line6 {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

.line8 {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.line10 {
  fill: none;
  stroke: purple;
  stroke-width: 1.5px;
}

.line12 {
  fill: none;
  stroke: orange;
  stroke-width: 1.5px;
}

.queryStatusLabel {
    font: normal 14px Helvetica;
}

.sla-size {
  font: normal 12px Helvetica;
}

.customBorderRed{
  width: 100%;
  background-color : #ff6666;
  color: #000000;
  opacity: 0.8;
  border: 1px solid #1a0000;
  border-radius: 4px;
  font: normal 14px Helvetica;
}

.customBorderYellow{
  width: 100%;
  background-color : #ffd11a;
  color: #000000;
  opacity: 0.8;
  border: 1px solid #1a0000;
  border-radius: 4px;
  font: normal 14px Helvetica;
}

.customBorderLightYellow{
  width: 100%;
  background-color : #ffe680;
  color: #000000;
  opacity: 0.8;
  border: 1px solid #1a0000;
  border-radius: 4px;
  font: normal 14px Helvetica;
}

.customBorderOrange{
  width: 100%;
  background-color : #ffa64d;
  color: #000000;
  opacity: 0.8;
  border: 1px solid #1a0000;
  border-radius: 4px;
  font: normal 14px Helvetica;
}

.customBorderWhite{
  width: 100%;
  background-color : #ffffff;
  color: #000000;
  opacity: 0.8;
  border: 1px solid #1a0000;
  border-radius: 4px;
}

.customBorderGreen{
  width: 100%;
  background-color : #ffffff;
  color: #339900;
  opacity: 0.8;
  border: 1px solid #1a0000;
  border-radius: 4px;
}

.customBorderPink{
  width: 100%;
  background-color : #ffffff;
  color: #FF3333;
  opacity: 0.8;
  border: 1px solid #1a0000;
  border-radius: 4px;
}

ul {
  padding: 0;
}
li {
  margin: 0;
  list-style-type: none;
}

#previousQueryList
{
  height: 100px;
  overflow: auto;
  border: 1px solid black;
}

.list-group-item{
border: 1px solid #808080;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}

.panel-default{
  border-color:rgba(53, 29, 29, 0.49);
}
