.top-buffer { margin-top:40px; }

/* For ideal-actual graph */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.lineActual {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.lineIdeal {
  fill: none;
  stroke: orange;
  stroke-width: 1.5px;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
/**/

/*rl bar chart*/
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
/**/


/* pi error */
.lineCurrentError {
  fill: none;
  stroke: purple;
  stroke-width: 1.5px;
}

.lineErrorSum {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}