html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.popover {
  max-width: 700px;
}

.table-responsive table tr td:nth-child(1) {
  max-width: 150px;
  word-wrap: break-word;
}

.table-responsive table tr td:nth-child(2) {
  max-width: 500px;
  word-wrap: break-word;
}

/* General */

svg {
  font: 11px sans-serif;
  shape-rendering: auto;
}

rect.background {
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.ruler {
  position: fixed;
  display: none;
  top: 0px;
  bottom: 0px;
  background: #000;
  opacity: 0.5;
  z-index: 2;
  width: 1px;
  pointer-events: none;
}

.rulerInfo rect {
  fill: black;
  fill-opacity: .8;
}

.rulerInfo text {
  font-size: 12px;
  fill: white;
}

.node rect {
  stroke-width: 1.5px;
}

.edgeLabel rect {
  fill: #fff;
}

.edgePath {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}

.tooltip-inner {
    max-width: 250px;
}

.overview-fragment {
  cursor: pointer;
}

.panel-heading .breadcrumb {
  padding: 0;
  margin: 0;
}

/* Graph */

.query-plan .overlay {
  fill: transparent;
  stroke: #bbb;
  stroke-width: 1px;
}

.graph {
  shape-rendering: auto;
}

.graph rect {
  stroke-width: 2;
}

.interactive .cluster:hover, .interactive .fragment:hover {
  cursor: pointer;
}

.interactive .cluster:hover rect, .interactive .fragment:hover rect {
  transition: stroke .3s;
  stroke: orange;
}

.graph .node {
  transition: fill .3s;
}

.graph .node text {
  fill: black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  font-size: 14px;
}

.graph .link > path {
  stroke-width: 3;
}

.graph path.clickme {
  stroke-width: 25;
  opacity: 0;
}

.graph .frag:hover>path:not(.clickme), .graph .frag:hover marker {
  transition: stroke .3s, fill .3s;
  stroke: orange;
  fill: orange;
}

.popover-content {
  padding: 0 12px;
  font-size: .9em;
}

.rect-info {
  fill: white;
  stroke: #333;
  stroke-width: 2;
}

/* Fragment vis */

.area {
  fill: #444;
}

.x.axis .tick line {
  stroke: lightgrey;
  opacity: 0.7;
}

.x.axis .tick text {
  fill: #555;
}

.plot path.line {
  fill: none;
  stroke: #1f77b4;
  stroke-width: 0px;
}

.brush .extent {
  fill: black;
  fill-opacity: .1;
  stroke: #333;
  stroke-opacity: 0.7;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.chart .context .brush .resize rect {
  fill: #333;
  fill-opacity: .8;
  visibility: visible !important;
}

.brush .resize rect {
  fill: #333;
}

.chart .x.axis path {
  display: none;
}

.axis-label {
  fill: black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.zoom-button {
  cursor: pointer;
}

.zoom-button rect {
  fill: lightgray;
}

.zoom-button text {
  fill: black;
  font-size: 18px;
}

.overlay {
  cursor: move;
}

/* Network */

.focus circle {
  fill: none;
  stroke: steelblue;
}

.pixel.active {
  stroke-width: 3px;
}

.timeseries .tsline {
  fill: none;
  shape-rendering: auto;
}

.timeseries .x.axis path {
  display: none;
}

.matrix-chart .tick {
  cursor: pointer;
  font-size: 11px;
}

.mat-chart text {
  fill: black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  font-size: 13px;
}

.controls button {
	margin-right: 30px;
}

.matrix-chart .bars rect {
	fill: #333;
}

.matrix-chart .average {
  stroke: steelblue;
  stroke-width: 2;
}

.controls select {
	margin-left: 4px;
}

#legend {
  margin-top: 10px;
}

.controls {
	margin: 10px 0;
}
