{% extends "base.html" %}

{% block extra_head %}
<link href="css/codemirror.css" type="text/css" rel="stylesheet" />
<link href="css/github.css" type="text/css" rel="stylesheet" />
<link href="css/select2.css" type="text/css" rel="stylesheet" />
<link href="css/select2-bootstrap.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/queryvis.css">
{% endblock %}

{% block editor_active %} class="active"{% endblock %}

{% block content %}
    <div class="row editor-row">
        <div class="col-md-7" id="editor-column">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        Write your code here, perhaps starting from one of the examples at the right.
                        <a href="#" class="pull-right resize-editor"><span class="glyphicon glyphicon-resize-full"></span></a>
                    </h3>
                </div>
                <textarea cols="83" rows="2" id="query">{{ query }}</textarea>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="executor btn btn-primary"><span class="glyphicon glyphicon-play"></span> Execute the Query</button>
                        </div>

                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button type="button" id="parse-btn" class="planner btn btn-info pull-left"><span class="glyphicon glyphicon-question-sign"></span> Parse</button>
                                <button type="button" class="compiler btn btn-info"><span class="glyphicon glyphicon glyphicon-save"></span> Myria JSON</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="language-menu" class="col-sm-3 control-label">Query Language</label>
                    <div class="col-sm-9">
                        <select class="form-control language-menu">
                            <option value="datalog">Datalog</option>
                            <option value="myrial" selected>MyriaL</option>
                            <option value="sql">SQL</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="profile-enabled"> Profile query
                        </label>
                    </div>
                    <span class="help-block">Profiling will make the query run a little bit slower but allows you to
                    examine exactly how the query was executed.</span>
                </div>
            </form>
        </div>

        <div class="col-md-5">
            <ul class="nav nav-tabs nav-justified" id="editor-tabs">
                <li class="active"><a href="#examples" data-toggle="tab">Examples</a></li>
                <li><a href="#datasets" data-toggle="tab">Datasets</a></li>
                <li><a href="#queryplan" data-toggle="tab">Query Plan</a></li>
                <li><a href="#result" data-toggle="tab">Results</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="examples">
                    <h4>Click on any of these examples to load them into the editor.</h4>
                    <div class="list-group" id="examples-list">
                        {% for ex in examples %}
                        <a href="#" class="list-group-item example" data-code="{{ ex.1 }}">
                            <h5>{{ ex.0 }}</h5>
                            <pre>{{ ex.1 | truncate(50) }}</pre>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="datasets">
                    <h3>Get the schema of a dataset</h3>
                    <p>
                        Use the search form to retrieve the schema of a
                        <a href="/datasets" target=_blank>dataset</a>
                        which includes its columns and column types.
                    </p>
                    <input type="hidden" class="bigdrop dataset-search"></input>
                    <p>
                        <pre id="dataset-information">Search to see the schema...</pre>
                    </p>
                </div>
                <div class="tab-pane fade" id="queryplan">
                    <p></p>
                    <p>
                        Visualization of the logical and optimized physical query plan.
                    </p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#show-svg" class="pull-right show-svg-modal" data-toggle="modal" data-output="relational_svg"><span class="glyphicon glyphicon-new-window" title="See logical plan"></span></a>
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#relational-plan">Code parsed as Relational Algebra</a></h4>
                        </div>
                        <div id="relational-plan" class="panel-collapse collapse">
                            <div class="panel-body ">
                                <pre id="plan" class="display"></pre>
                                <output id="relational_svg"></output>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#physical-plan">Relational algebra converted and optimized into a Myria Physical Plan</a></h4>
                        </div>
                        <div id="physical-plan" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <pre id="optimized" class="display"></pre>
                                <div id="myria_svg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="result">
                    <div class="panel-body">
                        <pre id="executed"></pre>
                    </div>
                    <div id="#response"></div>
                    <div id="sig"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <div class="modal fade" id="show-svg" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="zoom-label">Zoom: </span><input type="range" class="zoom-range">
                    <button type="button" class="btn btn-sm zoom-reset">reset view</button>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" id ="svg-modal-body">
                    <div class="zoom-canvas">
                        <output id="svg-modal-output"></output>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="js/codemirror.js"></script>
<script type="text/javascript" src="js/myrial.js"></script>
<script type="text/javascript" src="js/sql.js"></script>
<script type="text/javascript" src="js/prolog.js"></script>

<script type="text/javascript" src="js/select2.min.js"></script>
<script src="js/d3.v3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/d3.selection.popover.js" type="text/javascript" charset="utf-8"></script>
<script src="js/chroma.min.js" type="text/javascript" charset="utf-8"></script>

<script>
    {% autoescape false %}
        var myriaConnection = '{{ myriaConnection }}';
        var myrialKeywords = {{ myrialKeywords }};
    {% endautoescape %}
    var editor = CodeMirror.fromTextArea(document.getElementById('query'), {
        indentUnit: 2,
        theme: 'github',
        autofocus: true,
        matchBrackets: true,
        lineNumbers : true,
        lineWrapping : true,
        viewportMargin: Infinity,
        showTrailingSpace: true
        //styleActiveLine: true
    });
</script>
<script type="text/javascript" src="js/viz.js">
    // This is from mdaines on github: http://mdaines.github.io/viz.js/viz.js
</script>
<script type="text/javascript" src="js/queryvis.js"></script>
<script type="text/javascript" src="js/graph.js"></script>
<script type="text/javascript" src="js/editor.js"></script>
{% endblock %}
