{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript" src="js/codemirror.js"></script>
<link href="css/codemirror.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block editor_active %} class="active"{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Examples (click)</h3>
				</div>
				<div class="panel-body" id="examples-list">
				{% for ex in examples %}
				<div class="label">{{ ex.0 }}</div>
				<div class="example">{{ ex.1 }}</div>
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-xs-5" role="main">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						Write your code here, perhaps starting from one of the
						examples at the left.
					</h3>
				</div>
				<textarea cols="83" rows="2" id="query">{{ query }}</textarea>
				<div class="btn-group dropup">
					<button type="button" id="parse-btn" class="planner btn btn-info">Parse Datalog</button>
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					<ul id="language-menu" class="dropdown-menu" role="menu">
					<li><a class="changer">Myria</a></li>
					</ul>
				</div>
			</div>

			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Code parsed as Relational Algebra</h3>
				</div>
				<div class="panel-body">
					<div id="plan" class="display"></div>
				</div>
				<div class="panel-heading"><h3 class="panel-title">Relational algebra converted and
					optimized into a Myria Physical Plan</h3></div>
				<div class="panel-body">
					<div id="optimized" class="display"></div>
				</div>
				<button type="button" class="compiler btn btn-warning">Myria
					JSON</button>
			</div>

			<div class="panel">
				<button type="button" class="executor btn btn-success">Execute
					the Query</button>
				<div class="panel-body">
					<div id="executed" class="display"></div>
				</div>
			</div>
			<div id="#response"></div>
			<div id="sig"></div>
		</div>

		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="#show-svg" class="pull-right show-svg-modal" data-toggle="modal"><span class="glyphicon glyphicon-new-window"></span></a>
					<h3 class="panel-title">Logical plan</h3>
				</div>
				<div class="panel-body">
					<output id="relational_svg"></output>
				</div>
				<div class="panel-heading">
					<a href="#show-svg" class="pull-right show-svg-modal" data-toggle="modal"><span class="glyphicon glyphicon-new-window"></span></a>
					<h3 class="panel-title">Distributed physical plan</h3>
				</div>
				<div class="panel-body">
					<output id="myria_svg"></output>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_body %}
	<div class="modal fade" id="show-svg" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<span class="zoom-label">Zoom: </span><input type="range" class="zoom-range">
					<button type="button" class="btn btn-sm zoom-reset">reset view</button>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body" id ="svg-modal-body">
					<div class="parent">
						<div id="zoom-canvas">
							<output id="svg-modal-output"></output>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
<script>
	var editor = CodeMirror.fromTextArea(document.getElementById('query'), {
		mode : 'application/js',
		lineNumbers : true
	});
</script>
<script type="text/javascript" src="js/viz.js">
	// This is from mdaines on github: http://mdaines.github.io/viz.js/viz.js
</script>
<script type="text/javascript" src="js/editor.js"></script>
{% endblock %}