{% extends "demobase.html" %}

<!--{% block queries_active %} class="active"{% endblock %}-->

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="css/queryvis.css">
{% endblock %}

{% block extra_container_class %}my-fluid-container{% endblock %}

{% block content %}

{% endblock %}
{% block extra_body %}
<div>
    <h4>Add custom plotting variables</h4>
    <p>You can choose from: </p>
    <p id="valid_attrs"></p>
    <p>xAttribute: <input name="xattr" type="text" id="xattr"/></p>
    <p>yAttribute: <input name="yattr" type="text" id="yattr"/></p>
    <input type="button" value="Update" onclick="update()">
</div>
<div id="plot"></div>
<h4>Dissimilarity between samples: </h4>
<div id="diversity"></div>
{% endblock %}
{% block footer %}
	<script src="js/d3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/colorbrewer.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/d3.selection.popover.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/d3.selection.tooltip.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/chroma.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/graph.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/networkvis.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/fragmentvis.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/fragmentoverview.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/operatorvis.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/querystats.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/colorlegend.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/viz.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" src="js/queryvis.js" charset="utf-8"></script>
<script>

function plot(data, xattr, yattr){
    var vlSpec = {
    "data": {
      "values": data
    },
    "mark": "point",
    "encoding": {
      "x": {
      "field": xattr, "type": "quantitative"
      },
      "y": {
      "field": yattr, "type": "quantitative"
      }
    }
    };

    var embedSpec= {
    mode: "vega-lite",
    spec: vlSpec
    };

    vg.embed("#plot", embedSpec, function(error, result){});
};

var bc_full = {{ bc_full | safe }};
  var vlSpec_bc = {
    "data": {
      "values": bc_full
    },

     "mark": "text",
  "encoding": {
    "row": {"field": "asample", "type": "nominal", "axis": {"title":"Sample Name"}},
    "column": {"field": "bsample", "type": "nominal", "axis": {"labelAngle": -90, "offset":20 ,"title":"Sample Name"}},
    "color": {"field": "BCdis", "type": "quantitative"},
    "text": {"field": "BCDis", "type": "nominal"}
  },
  "config": {"mark": {"applyColorToBackground": true} , "scale": {"textBandWidth": 20}}
  };
  var embedSpec_bc = {
    mode: "vega-lite",
    spec: vlSpec_bc
  };

  vg.embed("#diversity", embedSpec_bc, function(error, result) {
  });

var data = {{ data | safe }};
var valid_attrs = Object.keys(data[0]).join();
document.getElementById("valid_attrs").innerHTML = valid_attrs ;
plot(data, "CTDPRS", "Simpson");

function update(){
    var data = {{ data | safe }};
    var xattr = document.getElementById('xattr').value;
    var yattr = document.getElementById('yattr').value;
    plot(data, xattr, yattr);
}
</script>
{% endblock %}
