{% extends "demobase.html" %}

<!--{% block queries_active %} class="active"{% endblock %}-->

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="css/queryvis.css">
{% endblock %}

{% block extra_container_class %}my-fluid-container{% endblock %}

{% block content %}

{% endblock %}
{% block extra_body %}
<div>
    <h4>Add custom plotting variables</h4>

    <p>x-axis: <select id="x_select" onchange="update()"> </select> y-axis: <select id="y_select" onchange="update()"> </select></p>
</div>
<div id="plot"></div>
<h4>Dissimilarity between samples: </h4>
<div id="diversity"></div>
{% endblock %}
{% block footer %}
<script src="js/d3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/colorbrewer.js" type="text/javascript" charset="utf-8"></script>
<script src="js/d3.selection.popover.js" type="text/javascript" charset="utf-8"></script>
<script src="js/d3.selection.tooltip.js" type="text/javascript" charset="utf-8"></script>
<script src="js/chroma.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/graph.js" type="text/javascript" charset="utf-8"></script>
<script src="js/networkvis.js" type="text/javascript" charset="utf-8"></script>
<script src="js/fragmentvis.js" type="text/javascript" charset="utf-8"></script>
<script src="js/fragmentoverview.js" type="text/javascript" charset="utf-8"></script>
<script src="js/operatorvis.js" type="text/javascript" charset="utf-8"></script>
<script src="js/querystats.js" type="text/javascript" charset="utf-8"></script>
<script src="js/colorlegend.js" type="text/javascript" charset="utf-8"></script>
<script src="js/viz.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="js/queryvis.js" charset="utf-8"></script>
<script>

function plot(data, xattr, yattr){
    var vlSpec = {
    "data": {
      "values": data
    },
    "mark": "point",
    "encoding": {
      "x": {
      "field": xattr, "type": "quantitative"
      },
      "y": {
      "field": yattr, "type": "quantitative"
      }
    }
    };

    var embedSpec= {
    mode: "vega-lite",
    spec: vlSpec
    };

    vg.embed("#plot", embedSpec, function(error, result){});
};

var bc_full = {{ bc_full | safe }};
bc_full = bc_full.concat({"asample":"SS0158", "bsample":"SS0158", "BCdis":0.0})
var vlSpec_bc = {
"data": {
"values": bc_full
},

"mark": "text",
"encoding": {
"row": {
"field": "asample", "type": "nominal",
"axis": {"title":"Sample Name"},
"sort": "none"
},
"column": {
"field": "bsample", "type": "nominal",
"axis": {"labelAngle": -90, "offset":20 ,"title":"Sample Name"},
"sort":"none"},
"color": {"field": "BCdis", "type": "quantitative"},
"text": {"field": "none", "type": "nominal"}
},
"config": {"mark": {"applyColorToBackground": true} , "scale": {"textBandWidth": 12, "bandSize": 12}}
};
var embedSpec_bc = {
mode: "vega-lite",
spec: vlSpec_bc
};

vg.embed("#diversity", embedSpec_bc, function(error, result) {
});

var data = {{ data | safe }};

var x_select = document.getElementById("x_select");
var y_select = document.getElementById("y_select");
keys = Object.keys(data[0]);
for (k in keys)
{
var o = document.createElement("option");
o.value = keys[k];
o.text = keys[k];
x_select.appendChild(o);
}
for (k in keys)
{
var o = document.createElement("option");
o.value = keys[k];
o.text = keys[k];
y_select.appendChild(o);
}

plot(data, "CTDPRS", "Simpson");

function update(){
    var data = {{ data | safe }};
    var xattr = document.getElementById('x_select').value;
    var yattr = document.getElementById('y_select').value;
    plot(data, xattr, yattr);
}

</script>
{% endblock %}
