{% extends "demobase.html" %}

<!--{% block queries_active %} class="active"{% endblock %}-->

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="css/queryvis.css">
<link rel="stylesheet" type="text/css" href="css/istcdemo.css">
{% endblock %}

{% block extra_container_class %}my-fluid-container{% endblock %}

{% block content %}

{% endblock %}
{% block extra_body %}
<div style="margin:4px; padding:4px">
<table>
    <h2>Screen 3: Genomic Data Processing</h2>
    <tr>
        <h4>MetaData Visualizer:</h4>
        <td>
            <div style="margin:4px; padding:4px">
                <p>x-axis: <select id="x_select" onchange="update()"> </select> y-axis: <select id="y_select" onchange="update()"> </select></p>
                <div id="plot"></div>
            </div>
        </td>
        <td>
            <div style="margin:4px; padding:4px">
                <p>x-axis: <select id="x_select2" onchange="update2()"> </select> y-axis: <select id="y_select2" onchange="update2()"> </select></p>
                <div id="plot2"></div>
            </div>
        </td>
    </tr>
</table>
</div>

<div id="bcdiv" style="margin:4px; padding:4px">
    <h4>Dissimilarity between samples: </h4>
    <table>
    <tr>
        <td><div id="diversity"></div></td>
        <td>Choose another variable: <select id="var_select" onchange="update_hist()"> </select> <button id="sort_fields" onclick="sort_everything()">Sort</button>
            <div id="plot_hist"></div>
        </td>
    </tr>
    </table>
</div>


{% endblock %}
{% block footer %}
<script src="js/d3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/colorbrewer.js" type="text/javascript" charset="utf-8"></script>
<script src="js/d3.selection.popover.js" type="text/javascript" charset="utf-8"></script>
<script src="js/d3.selection.tooltip.js" type="text/javascript" charset="utf-8"></script>
<script src="js/chroma.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/graph.js" type="text/javascript" charset="utf-8"></script>
<script src="js/networkvis.js" type="text/javascript" charset="utf-8"></script>
<script src="js/fragmentvis.js" type="text/javascript" charset="utf-8"></script>
<script src="js/fragmentoverview.js" type="text/javascript" charset="utf-8"></script>
<script src="js/operatorvis.js" type="text/javascript" charset="utf-8"></script>
<script src="js/querystats.js" type="text/javascript" charset="utf-8"></script>
<script src="js/colorlegend.js" type="text/javascript" charset="utf-8"></script>
<script src="js/viz.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="js/queryvis.js" charset="utf-8"></script>
<script>
function plot(data, xattr, yattr, divname) {
    var vlSpec = {
        "data": {
            "values": data
        },
        "mark": "circle",
        "encoding": {
            "x": {
                "field": xattr,
                "type": "quantitative"
            },
            "y": {
                "field": yattr,
                "type": "quantitative"
            }
        }
    };

    var embedSpec = {
        mode: "vega-lite",
        spec: vlSpec
    };

    vg.embed(divname, embedSpec, function(error, result) {});
};

function plot_hist(data, sort_map, yattr) {
    document.getElementById('var_select').value = yattr;
    for(var i = 0; i< data.length; i++){
        data[i]["sortindex"] = sort_map[data[i]["Library"]];
    }

    var vlSpec = {
        "data": {
            "values": data
        },
        "mark": "bar",
        "encoding": {
            "y": {
                "field": "Library",
                "type": "ordinal",
                "axis": false,
                "sort": {"op":"mean", "field": "sortindex"}
            },
            "x": {
                "field": yattr,
                "type": "quantitative",
                "axis": {
                    "orient":"top",
                    "offset":18
                }
            }
        },
        "config": {
        "scale": {
            "textBandWidth": 15,
            "bandSize": 15
        }
    }
    };

    var embedSpec = {
        mode: "vega-lite",
        spec: vlSpec
    };

    vg.embed("#plot_hist", embedSpec, function(error, result) {});
};

function plot_bc(bc_full, sort_map){
    for(var i = 0; i< bc_full.length; i++){
        sampa = bc_full[i]["asample"];
        sampb = bc_full[i]["bsample"];
        if(sampa.length>5)
            sampa = sampa.substring(1,6);
        if(sampb.length>5)
            sampb = sampb.substring(1,6);
        bc_full[i]["asample"] = sampa;
        bc_full[i]["bsample"] = sampb;

        bc_full[i]["sortindexa"] = sort_map[bc_full[i]["asample"]];
        bc_full[i]["sortindexb"] = sort_map[bc_full[i]["bsample"]];
    }

    var vlSpec_bc = {
        "data": {
            "values": bc_full
        },

        "mark": "text",
        "encoding": {
            "row": {
                "field": "asample",
                "type": "nominal",
                "axis": {
                    "orient":"right",
                    "title":"Sample"
                },
                "sort": {"op":"mean", "field": "sortindexa"}
            },
            "column": {
                "field": "bsample",
                "type": "nominal",
                "axis": {
                    "labelAngle": -90,
                    "offset": 20,
                    "title": "Sample"
                },
                "sort": {"op":"mean", "field": "sortindexb"}
            },
            "color": {
                "field": "BCdis",
                "type": "quantitative",
                "legend":false
            },
            "text": {
                "field": "none",
                "type": "nominal"
            }
        },
        "config": {
            "mark": {
                "applyColorToBackground": true
            },
            "scale": {
                "textBandWidth": 15,
                "bandSize": 15
            }
        }
    };
    var embedSpec_bc = {
        mode: "vega-lite",
        spec: vlSpec_bc
    };

    vg.embed("#diversity", embedSpec_bc, function(error, result) {});
}

function _update(x,y,d) {
    plot({{ data | safe }}, document.getElementById(x).value, document.getElementById(y).value, d);
}

function update(){
    _update('x_select','y_select','#plot');
}

function update2(){
    _update('x_select2','y_select2','#plot2');
}

function update_hist(){
    plot_bc(bc_full, sort_map);
    plot_hist(data, sort_map, document.getElementById('var_select').value);
}

function sort_everything(){
    var data = {{ data | safe }};
    var bc_full = {{ bc_full | safe }};
    bc_full = bc_full.concat({
        "asample": "S0158",
        "bsample": "S0158",
        "BCdis": 0.0
    });
    var sort_field = document.getElementById('var_select').value;
    var sorted_data = [];
    for(var i=0; i<data.length; i++){
        sorted_data.push({"sample":data[i]["Library"], "sort_field": data[i][sort_field]});
    }

    function compare(a,b) {
        if (a['sort_field'] < b['sort_field'])
            return -1;
        if (a['sort_field'] > b['sort_field'])
            return 1;
        return 0;
    }
    sorted_data.sort(compare);

    var sort_map = {};
    for(var i=0; i<sorted_data.length; i++)
        sort_map[sorted_data[i]["sample"]] = i+1;
    console.log(sort_map);
    plot_bc(bc_full, sort_map);
    plot_hist(data, sort_map, sort_field);
}

// Initialization
var data = {{ data | safe }};
var select_dds = ["x_select", "y_select", "var_select", "x_select2", "y_select2"];

for (dd in select_dds) {
    var s = document.getElementById(select_dds[dd]);
    keys = Object.keys(data[0]);
    for (k in keys) {
        var o = document.createElement("option");
        o.value = keys[k];
        o.text = keys[k];
        s.appendChild(o);
    }
}

var bc_full = {{ bc_full | safe }};
bc_full = bc_full.concat({
    "asample": "S0158",
    "bsample": "S0158",
    "BCdis": 0.0
});

document.getElementById('x_select').value = "CTDPRS";
document.getElementById('y_select').value = "Simpson";
plot(data, "CTDPRS", "Simpson", "#plot");

document.getElementById('x_select2').value = "CTDPRS";
document.getElementById('y_select2').value = "EntropySkew";
plot(data, "CTDPRS", "EntropySkew", "#plot2");
var sort_map = {
        'S0156':1, 'S0037':2, 'S0154':3, 'S0009':4, 'S0028':5,
        'S0043':6, 'S0015':7, 'S0045':8, 'S0027':9, 'S0026':10,
        'S0012':11, 'S0024':12, 'S0017':13, 'S0153':14, 'S0022':15,
        'S0041':16, 'S0006':17, 'S0020':18, 'S0039':19, 'S0003':20,
        'S0035':21, 'S0008':22, 'S0016':23, 'S0002':24, 'S0158':25,
        'S0001':26, 'S0157':27, 'S0047':28, 'S0025':29, 'S0013':30,
        'S0048':31, 'S0033':32, 'S0021':33, 'S0149':34, 'S0023':35,
        'S0034':36, 'S0040':37, 'S0029':38, 'S0018':39, 'S0005':40,
        'S0004':41, 'S0019':42, 'S0046':43, 'S0150':44, 'S0155':45,
        'S0151':46, 'S0036':47, 'S0011':48, 'S0042':49, 'S0010':50
};
console.log(sort_map);
plot_hist(data, sort_map, "CTDPRS");
plot_bc(bc_full, sort_map);
</script>
{% endblock %}
