{% extends "base.html" %}

{% block extra_head %}
<link href="css/codemirror.css" type="text/css" rel="stylesheet" />
<link href="css/github.css" type="text/css" rel="stylesheet" />
<link href="css/select2.css" type="text/css" rel="stylesheet" />
<link href="css/select2-bootstrap.css" type="text/css" rel="stylesheet" />
<link href="css/perfenforce.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/queryvis.css">
<script type="text/javascript" src="js/perfenforce.js"></script>
<script type="text/javascript" src="js/codemirror.js"></script>
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="js/d3.legend.js"></script>

{% endblock %}

{% block editor_active %} class="active"{% endblock %}

{% block content %}
<ol class="breadcrumb">
        <li class="active"><a href="perfenforce-demo">Select a Demo Mode</a></li>
        <li class="active"><a href="tier-selection">Select a Service Tier</a></li>
        <li class="active"><a href="mock-query-editor">Begin the Query Session</a></li>
        <li class="active">Select a Scaling Algorithm</li>
        <li class="active">Replay Mode</li>
    </ol>
<h1>Begin Query Session</h1>
<div class="container">
  <div class="row " style="height:100%">
    <div class="col-md-6 ">
    <h4>Write a Query...</h4>

    <textarea id="queryEditor"></textarea> 
    </div> 
  </div>
  <div class="row">
      <div class="col-md-6 lightbeige" style="margin-left: 5mm">
        <button type="button" id="slaButton" class="btn btn-primary" onclick="getSLA()"><span class="glyphicon glyphicon-question-sign"></span> Find SLA</button>
         <button type="button" id="executeButtonMock" class="btn btn-primary" style="margin-left: 90mm" onclick="runQuery()" disabled><span class="glyphicon glyphicon-play"></span> Execute</button>
      </div>
      
    </div>  
 
  <div class="row top-buffer ">
    <div class="col-md-6 helperBorder " style="margin-left: 5mm">
      <div class="row">
        <center><label id="slaInfo"></label></center>
      </div>
      <div class="row">
        <label id="runningInfo"></label>
      </div>
    </div> 
  </div>
</div>
  <div class="row top-buffer ">
    <div class="col-md-6  " style="margin-left: 5mm">
      <div class="row" style="visibility: hidden" id="scalingQuestion">
        <div class="col-md-8   col-md-offset-2">
          <div class="row">
          <center><label>How can the cloud provider guarantee these runtimes?</label></center>
           </div>
           <div class="row">
             <center><a type="button" id="executeButtonMock" class="btn btn-danger"  href="scaling-algorithms">See Scaling Techniques <span class="glyphicon glyphicon-arrow-right"></span></a></center>
           </div>
        </div>
      </div>
    </div>  
  </div>
  </div>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="js/live.js"></script>
{% endblock %}