{% extends "base.html" %}

{% block extra_head %}
<link href="css/codemirror.css" type="text/css" rel="stylesheet" />
<link href="css/github.css" type="text/css" rel="stylesheet" />
<link href="css/select2.css" type="text/css" rel="stylesheet" />
<link href="css/select2-bootstrap.css" type="text/css" rel="stylesheet" />
<link href="css/perfenforce.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/queryvis.css">
<script type="text/javascript" src="js/perfenforce.js"></script>
{% endblock %}

{% block editor_active %} class="active"{% endblock %}

{% block content %}
<script>
localStorage.clear();
</script>


<div class="container">
  <div class="row ">
  	<center><h2>   A Demonstration of the PerfEnforce System</h2></center>
  		<!-- Indicates a successful or positive action -->
    <center><img src="../img/cloud.png" width="30%" height="30%"></center>
    <br>
    <div class="col-md-6 col-md-offset-3">
		<a type="button" class="btn btn-primary btn-xlarge btn-block" href="tier-selection">Start</a>
  	</div>	
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}