{% extends "base.html" %}

{% block extra_head %}
<link href="css/codemirror.css" type="text/css" rel="stylesheet" />
<link href="css/github.css" type="text/css" rel="stylesheet" />
<link href="css/select2.css" type="text/css" rel="stylesheet" />
<link href="css/select2-bootstrap.css" type="text/css" rel="stylesheet" />
<link href="css/perfenforce.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/queryvis.css">
<script type="text/javascript" src="js/perfenforce.js"></script>
{% endblock %}

{% block editor_active %} class="active"{% endblock %}

{% block content %}
<script>
localStorage.clear();
</script>

<h1>A Demonstration of PerfEnforce</h1>
<div class="container">
  <div class="row top-buffer">
  	<div class="col-md-4 col-md-offset-4">
  		<!-- Indicates a successful or positive action -->
		<a type="button" class="btn btn-default btn-xlarge btn-block" href="tier-selection">Replay</a>
  	</div>	
  </div>
  <div class="row top-buffer">
  	<div class="col-md-4 col-md-offset-4">
  		<!-- Indicates a successful or positive action -->
		<a type="button" class="btn btn-default btn-xlarge btn-block" href="live-tiers">Live</a>
  	</div>	
  </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}