{% extends "base.html" %}

{% block queries_active %} class="active"{% endblock %}

{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				Myria Query Log
			</h3>
		</div>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>#</th>
					<th>Logical plan</th>
					<th>Status</th>
					<th>Profiling</th>
					<th>Time elapsed</th>
					<th>Finished</th>
				</tr>
			</thead>
			{% for q in queries %}
			<tr class="{{q.bootstrapStatus}} query-row" data-status="{{q.status}}" data-id="{{q.queryId}}">
				<td class="query-url"><a href="{{q.url}}" target="_blank">{{q.queryId}}</a></td>
				<td class="query-raw">{{q.rawQuery}}</td>
				<td class="query-status">{{q.status}}</td>
				<td>
					{% if q.profilingMode %}
						{% if q.status == 'SUCCESS' %}
							<a href="/profile?queryId={{q.queryId}}" class="glyphicon glyphicon-tasks" title="Visualization of query profiling" data-toggle="tooltip"></a>
						{% elif q.status in ['RUNNING', 'ACCEPTED'] %}
							<span class="glyphicon glyphicon-tasks" title="Visualization will be available when the query has finished" data-toggle="tooltip"></span>
						{% else %}
							<span class="glyphicon glyphicon-tasks" title="Visualization not available for failed queries" data-toggle="tooltip"></span>
						{% endif %}
					{% else %}
						-
					{% endif %}
				</td>
				<td class="query-elapsed">{{q.elapsedStr}}</td>
				<td class="query-finish">
					<abbr class="timeago" title="{{q.finishTime}}">{{q.finishTime}}</abbr>
				</td>
			</tr>
			{% endfor %}
		</table>
		<div class="text-center">
			<ul class="pagination">
				<li>
				{% if pagination.has_prev %}
					<a href="{{ page_url(pagination.page - 1, current_max, pagination) }}">&laquo;</a>
				{% else %}
					<a href="{{ page_url(pagination.page - 1, current_max, pagination) }}">&laquo;</a>
				{% endif %}
				</li>
				{%- for page in pagination.iter_pages() %}
					{% if page %}
						{% if page != pagination.page %}
							<li>
								<a href="{{ page_url(page, current_max, pagination) }}">{{ page }}</a>
					  		</li>
						{% else %}
							<li class="active"><span>{{ page }}</span></li>
						{% endif %}
					{% else %}
						<li class="disabled"><span>...</span></li>
					{% endif %}
				{%- endfor %}
				{% if pagination.has_next %}
				<li>
					<a href="{{ page_url(pagination.page + 1, current_max, pagination) }}">&raquo;</a>
				{% else %}
				<li class="disabled">
					<span>&raquo;</span>
				{% endif %}
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="js/queries.js"></script>
{% endblock %}