{% extends "base.html" %}

{% block extra_head %}
<link href="css/codemirror.css" type="text/css" rel="stylesheet" />
<link href="css/github.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block queries_active %} class="active"{% endblock %}

{% block content %}
            <form class="form-horizontal" role="form">
                <div class="form-group">
		    <label for="backend-menu" class="col-sm-2 control-label"> Backend </label>
		    <div class = "col-sm-9">
		      <select class="form-control backend-menu">
			<option value="grappa"> Grappa </option>
			<option value="myria" selected> Myria </option>
                        <option value="clang"> C </option>
                      </select>
                    </div>
                </div>
            </form>

	    <div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				Myria Query Log
			</h3>
		</div>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>#</th>
					<th>Logical plan</th>
					<th>Status</th>
					<th></th>
					<th>Time elapsed</th>
					<th>Finished</th>
				</tr>
			</thead>
			{% for q in queries %}
			<tr class="{{q.bootstrapStatus}} query-row" data-status="{{q.status}}" data-id="{{q.queryId}}">
				<td class="query-url"><a href="{{q.url}}" target="_blank">{{q.queryId}}</a></td>
				<td class="query-raw">{{q.rawQuery}}</td>
				<td class="query-status">{{q.status}}</td>
				<td>
					{% if q.profilingMode %}
						{% if q.status == 'SUCCESS' %}
							<a href="/profile?queryId={{q.queryId}}" class="glyphicon glyphicon-dashboard" title="Visualization of query profiling" data-toggle="tooltip"></a>
						{% elif q.status in ['RUNNING', 'ACCEPTED'] %}
							<span class="glyphicon glyphicon-dashboard" title="Visualization will be available when the query has finished" data-toggle="tooltip"></span>
						{% else %}
							<span class="glyphicon glyphicon-dashboard" title="Visualization not available for failed queries" data-toggle="tooltip"></span>
						{% endif %}
					{% else %}
						<span title="Profiling not enabled for this query" data-toggle="tooltip">-</span>
					{% endif %}
				</td>
				<td class="query-elapsed">{{q.elapsedStr}}</td>
				<td class="query-finish">
					<abbr class="timeago" title="{{q.finishTime}}">{{q.finishTime}}</abbr>
				</td>
			</tr>
			{% endfor %}
                        <tbody id="querytable">
		</tbody>
		</table>

		<div class="text-center">
			<ul class="pagination">
				<li>
				{% if pagination.has_prev %}
					<a href="{{ page_url(pagination.page - 1, current_max, pagination) }}">&laquo;</a>
				{% else %}
					<a href="{{ page_url(pagination.page - 1, current_max, pagination) }}">&laquo;</a>
				{% endif %}
				</li>
				{%- for page in pagination.iter_pages() %}
					{% if page %}
						{% if page != pagination.page %}
							<li>
								<a href="{{ page_url(page, current_max, pagination) }}">{{ page }}</a>
					  		</li>
						{% else %}
							<li class="active"><span>{{ page }}</span></li>
						{% endif %}
					{% else %}
						<li class="disabled"><span>...</span></li>
					{% endif %}
				{%- endfor %}
				{% if pagination.has_next %}
				<li>
					<a href="{{ page_url(pagination.page + 1, current_max, pagination) }}">&raquo;</a>
				{% else %}
				<li class="disabled">
					<span>&raquo;</span>
				{% endif %}
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block footer %}
<script>
    {% autoescape false %}
        var myrialKeywords = {{ myrialKeywords }};
    {% endautoescape %}
</script>
<script type="text/javascript" src="js/queries.js"></script>
<script type="text/javascript" src="js/codemirror.js"></script>
<script type="text/javascript" src="js/runmode.js"></script>
<script type="text/javascript" src="js/myrial.js"></script>
<script type="text/javascript">
$(function () {
    $("td.query-raw").each(function (index, elt) {
        elt = $(elt);
        var text = elt.text();
        /*
         * TODO: This is a hack to detect MyriaL programs, both to distinguish
         * them from other languages and to distinguish them from manually
         * written "raw" queries. We should really include the query language
         * in the Myria catalog and use it instead.
         */
        if (text.toLowerCase().indexOf("store") === -1) {
            return;
        }
        var pre = document.createElement('pre');
        pre.className += "CodeMirror";
        elt.empty().append(pre);
        CodeMirror.runMode(text, {name: 'myrial', singleLineStringErrors: false}, pre);
    });
});
</script>
{% endblock %}

