{% extends "base.html" %}
{% block extra_head %}
  <link href="css/codemirror.css" type="text/css" rel="stylesheet" />
  <link href="css/github.css" type="text/css" rel="stylesheet" />
  <link href="css/select2.css" type="text/css" rel="stylesheet" />
  <link href="css/select2-bootstrap.css" type="text/css" rel="stylesheet" />
  <link href="css/perfenforce.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/queryvis.css">
  <script type="text/javascript" src="js/perfenforce.js"></script>

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/tiers.js"></script>
{% endblock %}
{% block editor_active %} class="active"{% endblock %}
{% block content %}
  <script>
  printRL();
  </script>
  <ol class="breadcrumb">
    <li class="active"><a href="perfenforce-demo">Select a Demo Mode</a></li>
    <li class="active"><a href="tier-selection">Select a Service Tier</a></li>
    <li class="active"><a href="scaling-algorithms">Select a Scaling Algorithm</a></li>
    <li class="active"><a href="#">Demo</a></li>
  </ol>
  <h1>Replay Mode</h1>
  <div class="col-md-12">
    <div class="row top-buffer">
      <div class="col-md-5">
        <h3> Selected SLA</h3>
        <div ng-app='tiersDemo' ng-controller="WizardController as wizard">
          <div ng-init="wizard.loadQueries()">
            <div class="row-md-12">
              <div class="col-md-12" ng-init='tier=wizard.getTierWizard()'>
                <!-- Tier panel start -->
                <div class="panel panel-default">
                  <div class="panel-heading">Tier #{[{ tier.name }]}</div>
                  <!-- Tier data -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Query Template</th>
                        <th>Runtime (seconds)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="key in wizard.getQueriesForTier(tier.id) | keys" ng-init="queryGroup = wizard.getQueriesForTier(tier.id)[key]">
                        <td width="90%">
                          <span ng-repeat="query in queryGroup" class="sla-size">
                            {[{ query.template }]}<br />
                          </span>
                        </td >
                        <td class="sla-size" width="10%">{[{ queryGroup.runtime }]}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Tier panel end -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Other column here -->
      <div id="step3Tuning" class="col-md-7" style="visibility: hidden">
        <h3>Tuning - Proportional Control</h3>
        <div class="row">
          <div class="col-md-6 col-sm-offset-3">
            <label for="KP">KP:</label>
            <input type="text" class="form-control" id="PI-KP-TEXTBOX">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-offset-3">
            <label for="KI">KI:</label>
            <input type="text" class="form-control" id="PI-KI-TEXTBOX">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-offset-3">
             <label for="Window">W:</label>
              <input type="text" class="form-control" id="PI-WINDOW-TEXTBOX" readonly>
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-md-6 col-sm-offset-3">
            <button type="button" class="btn btn-danger btn-block" id="nextButton" onClick="nextButtonPress()" style="float: left;">Next Query</button>
          </div>
        </div>
        <div class="row top-buffer">
          <div  class="col-md-6">
            <label class="queryStatusLabel" ><b>Previous Query...</b></label>
            <label id="previousQueryLabel" class="queryStatusLabel"></label>
            <br>
            <label id="previousQuerySLA" class="queryStatusLabel"></label>
            <br>
            <label id="previousQueryActual" class="queryStatusLabel"></label>
          </div>
          <div  class="col-md-6">
            <label class="queryStatusLabel"><b>Upcoming Query...</b></label>
            <label id="upcomingQueryLabel" class="queryStatusLabel"></label>
            <label id="upcomingQuerySLA" class="queryStatusLabel"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h3> Workload Selection</h3>
        <div class="btn-group" data-toggle="toggle">
          <div class="col-md-12">
            <div class="row-md-12">
              <div class="col-md-12">
                <label><input type="radio" name="workloadSelection" onclick="radioButtonPress()"> Random Workload (20 queries)</label>
              </div>
            </div>
            <div class="row-md-12">
              <div class="col-md-12">
                <label><input type="radio" name="workloadSelection" onclick="radioButtonPress()"> Occasional Complex (20 queries)</label>
              </div>
            </div>
            <div class="row-md-12">
              <div class="col-md-12">
                <label><input type="radio" name="workloadSelection" onclick="radioButtonPress()"> Simple to Complex (30 queries)</label>
              </div>
            </div>
            <div class="row-md-12">
              <div class="col-md-12">
                <label><input type="radio" name="workloadSelection" onclick="radioButtonPress()"> Step-Wise Pattern (50 queries)</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="step3Graphs" class="col-md-7" style="visibility: hidden">
        <div class="row">
          <div class="col-md-12">
            <h3>Graphs</h3>
            <div class="row">
              <div class="col-md-6 col-height">
                <div class="span6" id="idealactual"></div>
              </div>
              <div class="col-md-6 col-height">
                <div class="span6" id="piError"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
<!-- D3 scripts -->
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>

<script type="text/javascript" src="js/ideal-actual-linechart.js"></script>
<script type="text/javascript" src="js/pi-errors.js"></script>
<script type="text/javascript" src="js/scaling_algorithms.js"></script>

<!-- end D3 scripts -->
{% endblock %}