{% extends "base.html" %}
{% block extra_head %}
  <link href="css/codemirror.css" type="text/css" rel="stylesheet" />
  <link href="css/github.css" type="text/css" rel="stylesheet" />
  <link href="css/select2.css" type="text/css" rel="stylesheet" />
  <link href="css/select2-bootstrap.css" type="text/css" rel="stylesheet" />
  <link href="css/perfenforce.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/queryvis.css">
  <script type="text/javascript" src="js/perfenforce.js"></script>
  <script type="text/javascript" src="js/scaling_algorithms.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/tiers.js"></script>
{% endblock %}
{% block editor_active %} class="active"{% endblock %}
{% block content %}
  <script>
  printPI()
  </script>
  <ol class="breadcrumb">
    <li class="active"><a href="perfenforce-demo">Select a Demo Mode</a></li>
    <li class="active"><a href="tier-selection">Select a Service Tier</a></li>
    <li class="active"><a href="scaling-algorithms">Select a Scaling Algorithm</a></li>
    <li class="active"><a href="#">Demo</a></li>
  </ol>

  <h1>Replay Mode</h1>
   <div class="col-md-12">
    <div class="row top-buffer">
      <div class="col-md-8">
        <h3>1) Selected SLA</h3>
        <div ng-app='tiersDemo' ng-controller="WizardController as wizard">
          <div ng-init="wizard.loadQueries()">
            <div class="row-md-12">
              <div class="col-md-12" ng-init='tier=wizard.getTierWizard()'>
                <!-- Tier panel start -->
                <div class="panel panel-default">
                  <div class="panel-heading">Tier #{[{ tier.name }]}</div>
                  <!-- Tier data -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Query Template</th>
                        <th>Runtime (seconds)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="key in wizard.getQueriesForTier(tier.id) | keys" ng-init="queryGroup = wizard.getQueriesForTier(tier.id)[key]">
                        <td>
                          <span ng-repeat="query in queryGroup">
                            {[{ query.template }]}<br />
                          </span>
                        </td>
                        <td>{[{ queryGroup.runtime }]}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Tier panel end -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Other column here -->
      <div class="col-md-3 col-md-offset-1">
        <h3>3) Tuning</h3>
        <div class="row">
            <div class="col-md-12">
                <label for="KP">KP:</label>
                <input type="text" class="form-control" id="PI-KP-TEXTBOX">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <label for="KI">KI:</label>
                <input type="text" class="form-control" id="PI-KI-TEXTBOX">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <label for="Window">W:</label>
                <input type="text" class="form-control" id="PI-WINDOW-TEXTBOX" readonly>
            </div>
          </div>

        <div class="row top-buffer">
          <div class="col-md-12">
            <a type="button" class="btn btn-danger btn-block" onClick="recordPI();stepFake();updateActualIdealLineGraph();updatePIErrorLines();" style="float: left;">Next Query</a>
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-md-12">
            Upcoming Query...
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3>2) Workload Selection</h3>
        <div class="btn-group" data-toggle="toggle">
          
            <div class="row-md-12">
            <div class="col-md-12">
              <label><input type="radio" name="workloadSelection" checked="checked"> Random Workload (20 queries)</label>
            </div>
          </div>
          <div class="row-md-12">
            <div class="col-md-12">
              <label><input type="radio" name="workloadSelection"> Occasional Complex (20 queries)</label>
            </div>
          </div>
          <div class="row-md-12">
            <div class="col-md-12">
              <label><input type="radio" name="workloadSelection"> Simple to Complex (30 queries)</label></div>
            </div>
            <div class="row-md-12">
              <div class="col-md-12">
                <label><input type="radio" name="workloadSelection"> Step-Wise Pattern (50 queries)</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
        <div class="row">
          <div class="col-md-12">
            <h3>Graphs</h3>
            <div class="row">
            <div class="col-md-6 col-height">
              <div class="span6" id="idealactual"></div>
            </div>
            <div class="col-md-6 col-height">
              <div class="span6" id="piError"></div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <script>  updatePITextboxes();</script>
  {% endblock %}
  {% block footer %}
    <!-- D3 scripts -->
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/ideal-actual-linechart.js"></script>
    <script type="text/javascript" src="js/pi-errors.js"></script>
    <!-- end D3 scripts -->
  {% endblock %}