{% extends "base.html" %}
{% block extra_head %}
	<link href="css/codemirror.css" type="text/css" rel="stylesheet" />
	<link href="css/github.css" type="text/css" rel="stylesheet" />
	<link href="css/select2.css" type="text/css" rel="stylesheet" />
	<link href="css/select2-bootstrap.css" type="text/css" rel="stylesheet" />
	<link href="css/perfenforce.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/queryvis.css">
	<script type="text/javascript" src="js/perfenforce.js"></script>
{% endblock %}
{% block editor_active %} class="active"{% endblock %}
{% block content %}
	<script>
	console.log(getTier())
	</script>
	<ol class="breadcrumb">
		<li class="active"><a href="perfenforce-demo">Select a Demo Mode</a></li>
		<li class="active"><a href="tier-selection">Select a Service Tier</a></li>
		<li class="active"><a href="scaling-algorithms">Select a Scaling Algorithm</a></li>
		<li class="active">Replay Mode</li>
	</ol>
	<h1>Cloud Provider Scaling Algorithms</h1>
	<i>Once the user selects an SLA, it is up to the cloud provider to guarantee those runtimes. Below are different approaches the provider can enable in order to guarantee those runtimes.</i>
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<h2>Reinforcement Learning</h2>
			<ul class="list-group">
				<li class="list-group-item">Each cluster size represents a state. For each query, the goal is to transition to the state with the highest reward. The reward function is defined as the real-to-SLA runtime ratio. We favor states with the closest reward to 1.0. </li>
				<li class="list-group-item">
					Update function after running query at <b>current</b> state:
					<center><br>
					<img src="../img/alpha.png" width="62%" height="62%">
				</center></li>
				<li class="list-group-item">Update function after running query for the rest of the states:<center>  <br>
					<img src="../img/beta.png" width="70%" height="70%">
				</center></li>
			</ul>
		</div>
		
		<div class="row">
			<div class="col-md-6  col-md-offset-3 ">
				<!-- href="replay-RL"-->
				<a type="button" class="btn btn-info btn-block" href="replay-RL"  onClick="localStorage.setItem('SA', 'RL')">Go</a>
			</div>
		</div>
		<hr>
		<div class="row">
			<h2>Proportional-Integral Control</h2>
			<ul class="list-group">
				<li class="list-group-item">We can regulate the system in order to ensure that it operates based on a given reference point, <i>r(t) = 1.0</i>. The system reacts based on the magnitude of the error. </li>
				<li class="list-group-item"><center>
					<img src="../img/error.png" width="45%" height="45%">
				</center></li>
				<li class="list-group-item"><center>
					<img src="../img/y.png" width="50%" height="50%">
				</center></li>
				<li class="list-group-item"><center>
					<img src="../img/ut.png" width="80%" height="80%">
				</center></li>
			</ul>
			
		</div>
		<div class="row">
			<div class="col-md-6  col-md-offset-3 ">
				<!-- href="replay-RL"-->
				<a type="button" class="btn btn-danger btn-block" href="replay-PI" onClick="localStorage.setItem('SA', 'PI')">Go</a>
			</div>
		</div>
		<!--end table for inner scaling algorithm -->
		<hr>
		<div class="row ">
			<h2>Perceptron Learning</h2>
			<ul class="list-group">
				<li class="list-group-item">For each incoming query, PerfEnforce predicts the runtime for the query for each configuration and switches to the closest configuration where <img src="../img/pred.png" width="12%" height="12%"> is closest to 1.0 before running the query.</li>
				<li class="list-group-item">To do this, we build an offline model for the given cloud service. The perceptron algorithm works by adjusting weights for each new data point based on a tunable <font color="green"><b>learning rate parameter.</b></font></li>
			</ul>
		</div>
		
		<div class="row">
			<div class="col-md-6  col-md-offset-3 ">
				<!-- href="replay-RL"-->
				<a type="button" class="btn btn-success btn-block" href="replay-OML" onClick="localStorage.setItem('SA', 'OML')">Go</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
{% endblock %}