{% extends "base.html" %}

{% block queries_active %} class="active"{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="css/queryvis.css">
{% endblock %}

{% block extra_container_class %}my-fluid-container{% endblock %}

{% block content %}
    <div class="page-header">
  		<h1>Query {{ queryId }} <small>visualization of physical query execution</small></h1>
	</div>

	<p class="lead">
		This page shows a visualization of how query {{ queryId }} was executed. On the left, you can see the physical query plan consisting of operators that are grouped in fragments.

		Click on a fragment to explore what happened inside a fragment and on a connection between fragments to explore the network communication.
	</p>

	<div class="row">
		<div class="col-md-5 col-lg-3 graph-panel">
			<div class="panel panel-default">
				<div class="panel-heading">
			   		<h3 class="panel-title">Physical Query Plan:</h3>
			    </div>
				<div class="panel-body">
					<div class="query-plan"></div>
				</div>
			</div>
		</div>
		<div class="col-md-7 col-lg-9">
			<div class="panel panel-default">
				<div class="panel-heading">
		   			<ol class="breadcrumb">
						<li><a href="#" class="show-overview">Overview</a></li>
						<li><span class="title-current">Fragment overview</span></li>
					</ol>
			    </div>
				<div class="panel-body">
					<div class="chart"></div>
				</div>
			</div>
		</div>
	</div>

    <p>
		Use <a href="http://nytimes.github.io/svg-crowbar/">Crowbar</a> to download the images.
    </p>
{% endblock %}

{% block footer %}
	<script src="js/d3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/colorbrewer.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/d3.selection.popover.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/d3.selection.tooltip.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/chroma.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/graph.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/networkvis.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/fragmentvis.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/fragmentoverview.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/operatorvis.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/querystats.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/colorlegend.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/viz.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
		{% autoescape false %}
			var myriaConnection = '{{ myriaConnection }}';
			var queryPlan = {{ queryPlan }};
		{% endautoescape %}
	</script>
	<script type="text/javascript" src="js/queryvis.js" charset="utf-8"></script>
	<script async defer>
		d3.select('.query-plan').each(function() {
		    element = d3.select(this);
		    theGraph = queryGraphInteractive(element, queryPlan);
		});

		$(function() {
			$('.show-overview').click(function(event) {
				event.preventDefault();
				theGraph.unfocus();
				theGraph.openOverview();
			});
		});
	</script>
{% endblock %}
