{% extends "base.html" %}

{% block queries_active %} class="active"{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="css/queryvis.css">
{% endblock %}

{% block extra_container_class %}my-fluid-container{% endblock %}

{% block content %}
    <div class="page-header">
		<h1>Query {{ queryId }}.{{ subqueryId }} <small>visualization of query execution with <a href="https://idl.cs.washington.edu/papers/perfopticon">Perfopticon</a>.</small></h1>
		<a href="#" data-toggle="collapse" data-target="#details">How does this work?</a>
	</div>
	<p class="collapse" id="details">
		On this page, you can explore how query {{ queryId }} was executed. On the left, you can see the physical query plan consisting of operators that are grouped in fragments.
		On the right is an overview of the whole execution. For each operator, the number of workers that are executing that particular operator over time are shown. Select a time range by brushing over the chart to zoom in. Click to return to the overview.
		Click on a fragment to explore what happened inside a fragment (local execution) and on a connection between fragments to look at the communication between workers.
		The view with details about the local execution shows how much each operator contributed to the runtime, the number of workers executing the fragment over time (like in the overview), and exactly when which operator executed on which worker.
		More details and examples are in <a href="https://idl.cs.washington.edu/files/2015-Perfopticon-EuroVis.pdf">our paper</a>.
	</p>

	<div class="row">
		<div class="col-md-6 col-md-5 col-lg-4 graph-panel">
			<div class="panel panel-default">
				<div class="panel-heading">
			   		<h3 class="panel-title">Physical Query Plan:</h3>
			    </div>
				<div class="panel-body">
					<div class="query-plan"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-7 col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
		   			<ol class="breadcrumb">
						<li><a href="#" class="show-overview">Overview</a></li>
						<li><span class="title-current">Fragment overview</span></li>
					</ol>
			    </div>
				<div class="panel-body">
					<div class="chart"></div>
				</div>
			</div>
		</div>
	</div>

    <p>
		Use <a href="http://nytimes.github.io/svg-crowbar/">Crowbar</a> to download the images.
    </p>
{% endblock %}

{% block footer %}
	<script src="js/d3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/colorbrewer.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/d3.selection.popover.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/d3.selection.tooltip.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/chroma.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/graph.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/networkvis.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/fragmentvis.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/fragmentoverview.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/operatorvis.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/querystats.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/colorlegend.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/viz.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" src="js/queryvis.js" charset="utf-8"></script>
	<script async defer>
		d3.select('.query-plan').each(function() {
			var element = d3.select(this);
			var queryStatus = {{ queryStatus | safe}};
			var fragments = {{ fragments | safe }};
			theGraph = queryGraphInteractive(element, queryStatus, fragments);
		});

		$(function() {
			$('.show-overview').click(function(event) {
				event.preventDefault();
				theGraph.unfocus();
				theGraph.openOverview();
			});
		});
	</script>
{% endblock %}
